* {font-family: 'Annie Use Your Telescope', cursive;}

.top-nav li { display: inline-block;
padding-left: 2rem;}

.top-nav ul { text-align: center;
padding: 0;}

.green { background-color: #C2DE61;
height: 10rem;}

.yellow { background-color: #DED662;
          height: 4rem;}

p { text-align: center;
    padding: 1.5rem;}

h2 { text-align: center; color: white;}
h1 { font-size: 3rem;}


.left-side { float:left;
  width: 25%;
}

.side-nav ul { background-color: #5EDFDC;
              height: 20rem;}

.blue-box { background-color: #5CBDDC;
          height: 10rem;}

.right-side { float: left;
              width: 75%;}

.padding-box { padding: 5px;}

a { text-decoration: none;
    font-size: 2rem;
color:black;}

ul {  list-style-type: none;}

footer {  background-color: grey;
        text-align: center;}
